<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/asset-1.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Rafael Furquim</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/asset-2.jpg" alt="Foto do Rafael">
            <h1>Rafael Furquim</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/rafael-furquim/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/furquim25">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about"><i class="bi bi-person"></i> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#skills"><i class="bi bi-list-check"></i> Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-file-earmark"></i> Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-collection"></i> Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope"></i> Contact</a>
                </li>
              </ul>
        </nav>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Rafael Furquim</h2>
                <span id="subtitle" class="text-white text-shadow">Mechanical/Software Engineer</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"></i>
                    <a href="#about">Scroll down for more</a>
                </div>
            </div>
        </section>

        <section id="about" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">About</h2>
                    <p>Mechanical Engineering with Control and Automation background, having lived in Brazil, USA and Czech Republic. 
                        Brazilian and EU Citizen – fluent in Portuguese and English.
                        Having international experiences around the globe, I had the opportunity to work and study with multicultural people, 
                        learning and sharing both professional and personal knowledge. As an engineer and programmer enthusiast, my goal is 
                        to unite the beauty of mechanical engineering and the high technology in the market to innovate and make processes 
                        efficient, safe and environment friendly as possible.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="./static/img/asset-2.jpg" alt="Rafael Photo">
                </div>
                <div class="col-md-8">
                    <h3>Performance Engineer</h3>
                    <p>- Digital support for pipelay support vessels offshore operations.
                        - Softwares development using VBA, Python and PowerApps.
                        - Engineer Operations Documentation.
                        - API interface for checklist software automation.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Birthday: <spam class="fw-lighter">October 26th, 1994</spam>
                                    </li>
                                    <li class="list-group-item">
                                        Age: <spam class="fw-lighter">27 years old</spam>
                                    </li>
                                    <li class="list-group-item">
                                        Country: <spam class="fw-lighter">Brazil</spam> 
                                    </li>
                                    <li class="list-group-item">
                                        City/State: <spam class="fw-lighter">Rio de Janeiro, RJ</spam>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Hobby: <spam class="fw-lighter">Crossfit</spam>
                                    </li>
                                    <li class="list-group-item">
                                        Linkedin: <a href="https://www.linkedin.com/in/rafael-furquim/"
                                            target="_blank"
                                            class="fw-lighter text-decoration-none link-dark">in/rafael-furquim</a>
                                    </li>
                                    <li class="list-group-item">
                                        Work: <a href="https://www.technipfmc.com/"
                                            target="_blank"
                                            class="fw-lighter text-decoration-none link-dark">TechnipFMC</a>
                                    </li>
                                    <li class="list-group-item">
                                        Experience: <spam class="fw-lighter">3 years</spam>
                                    </li>
                                </ul>
                            </div>
                        </div>

                </div>
            </div>

        </section>

        <section id="skills" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5">Skills</h2>
                <p>
                    During my career and studies, I develop some hard and soft skills. 
                    Most of them are listed here in the percentage of knowledge that I believe have for each one.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>

                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>

                        <p class="mt-3 mb-0">C#</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>

                        <p class="mt-3 mb-0">MATLAB</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">PyQt</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>

                        <p class="mt-3 mb-0">Pandas</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>

                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>

                        <p class="mt-3 mb-0">Unity</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Communication</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                        <p class="mt-3 mb-0">Teamwork</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Commitment</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                        <p class="mt-3 mb-0">Empathy</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>